black==24.3.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.0.2
holidays==0.45
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
prompt-toolkit==3.0.43
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyfiglet==1.0.2
Pygments==2.17.2
python-dateutil==2.9.0.post0
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
six==1.16.0
StrEnum==0.4.15
urllib3==2.2.1
wcwidth==0.2.13
